:root.theme-light {
  --bg-color: #ffeef6;
  --accent-color: #ff8dcb;
  --main-color: #353430;
  --transparent-main-color: #35343055;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --block-title-color: #353430;
  --decor-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --hover-border-color: #32312D66; 
  --link-color: #353430;
}

.page.theme_light .header__decor-item {
  display: none;
}

.header__decor-item {
  display: none;
}

@media (width >= 1024px) {
  .page.theme_light .cover__title,
  .page.theme_light .footer__title {
    text-shadow: 4px 4px 0px #ff0070;
  }

  .cover__title,
  .footer__title {
      text-shadow: 4px 4px 0px #ff0070;
    }

  @media (prefers-color-scheme: light) {
    :root {
      --accent-color: #ff8dcb;
      --transparent-main-color: #35343055;
      --main-color: #353430;
      --title-color: #ffc2e6;
      --text-color: #353430;
      --block-title-color: #353430;
      --bg-image: url(../images/cover-image-light.png);
      --bg-color: #ffeef6;
      --hover-border-color: #32312D66; 
   }
  }
}